.navbar {
  color: white;
  background-color: #021e2c;
}
html,
body {
  padding: 0px;
  margin: 0px;
  height: 100%;
  background-color: white;
}

#ProfileImg {
  display: block;
  width: 60%;
  border-radius: 50%;
  margin-right: 0px;
  margin: auto;
}
#icon {
  display: block;
  margin: auto;
  width: 20%;
}

h2 {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
  color: black;
  margin-bottom: 20px;
}

body {
  background-color: white;
}

.Card {
  color: #2c2b2b;
  border-radius: 4px;
  font-size: 16px;
  font-style: inherit;
  margin-bottom: 5px;
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 5px;
  background-color: rgb(209, 239, 252);
  border: 1px solid rgb(215, 231, 235);
  height: fit-content;
}
.col-sm-7 {
  margin-top: 10px;
}
.col-sm-4,
.col-sm-8 {
  text-align: left;
  margin-bottom: 15px;
  padding-left: 5px;
  font-size: 16px;
}
.th {
  font-weight: 800;
  color: black;
}
.text {
  padding: 2px;
  font-size: 16px;
}

footer {
  text-align: center;
  -webkit-text-size-adjust: auto;
  color: gray;
  padding-top: 50px;
  padding-bottom: 10px;
  font-size: 10px;
}
#timetalbeCard {
  padding-left: 5px;
  padding-right: 5px;
}
@media screen and (max-width: 1024px) {
  #timetalbeCard {
    margin-bottom: 5px;
    padding-bottom: 2px;
    padding-left: 0px;
    padding-right: 30px;
  }
}
@media screen and (max-width: 800px) {
  #ProfileImg {
    display: block;
    margin: auto;
    width: 100%;
  }
  #timetalbeCard {
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* On screens that are 600px or less */
@media screen and (max-width: 600px) {
  .col-sm-4 {
    text-align: left;
    margin-bottom: 1px;
    font-size: 14px;
    margin-left: 8px;
  }
  .col-sm-8 {
    text-align: left;
    margin-bottom: 1px;
    font-size: 14px;
  }

  .text {
    font-size: 14px;
  }
  h2 {
    text-align: center;
    font-size: 16px;
  }
  #ProfileImg {
    display: block;
    margin: auto;
    width: 40%;
  }
  .tblDetail {
    padding-left: 15px;
    padding-right: 15px;
  }
}
/* On screens that are 350px or less */
@media screen and (max-width: 350px) {
  #logoAic {
    width: 44px;
  }
  .text {
    font-size: 14px;
    padding-left: 5px;
  }
  #timetalbeCard {
    padding: 0px;
  }
  .col-sm-7 {
    padding-left: 0px;
    padding-right: 0px;
  }
}
