.navbar{
    color: white;
    background-color: #021e2c;
}
html, body{
padding:0px;
margin:0px;
height:100%;
}

#ProfileImg{
    display: block;
    margin: auto;
    width: 20%;
    border-radius: 50%;
    
}
#icon{
    display: block;
    margin: auto;
    width: 20%;
}
h2 {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
    margin: 40px 8px 10px 8px;
    color: #757575
    
}

body{
    background-color: white;
}

.Card {
    color: #575757;
    font-size: 16px;
    font-style: inherit;
    margin-bottom: 5px;
    margin-right: 5px;
    border: 1px;
    padding: 10px;
    background-color:#F5FCFE;
}

.col-xs-4{
    text-align: left;
    margin-bottom: 10px;
    padding-left: 20%;
    font-size: 16px;


}

.col-xs-8{
    text-align: left;
    margin-bottom: 10px;
    padding-left: 20%;
    font-size: 16px;

}


.th{
    font-weight: 800;
}

  /* On screens that are 992px or less */
@media screen and (max-width: 992px) {
    .col-xs-4,.col-xs-8{
        text-align: left;
        margin-bottom: 15px;
        padding-left: 5px;
        font-size: 14px;
    }
    .card{
        font-size: 14px;
    }
}

  /* On screens that are 600px or less */
@media screen and (max-width: 600px) {
    .col-xs-4,.col-xs-8{
        text-align: left;
        margin-bottom: 1px;
        font-size: 14px;
        background-color:#FAFAFA;
    }
    .card{
        font-size: 18px;
    }
    h2 {
        text-align: center;
        font-size: 18px;
    }
}